* {
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    font-family: "Gotham Pro";
}
.body-wrap {
    overflow: hidden;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.header-top .container {
    display: table;
    text-align: right;
    height: 50px;
    padding: 15px 15px;

}
.header-top .container .in {
    position: relative;
}
.in {
    display: table-cell;
}
.container .in icon[class="icon"] {
    display: block;
    position: absolute;
}
.header-top .in a:nth-child(1) img {
    padding-right: 40px;
}
.header-top .in a:nth-child(2) {
    font-size: 14px;
    line-height: 36px;
    color: #66aaf5;
}
.header-top .top-mail a:nth-child(2) img {
    padding-right: 15px;
}
.header-top {
    background-color: #263441;
}
.header-top .top-mail {
    font-size: 14px;
    line-height: 36px;
    color: #66aaf5;
    text-decoration: none;
    font-weight: 300;
}
.top-time .time-title {
    font-size: 15px;
    line-height: 30px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 300;
}
.top-time .time-title img {
    padding-right: 15px;
}
.top-time .time-hour {
    font-size: 15px;
    line-height: 30px;
    color: #66aaf5;
    text-transform: uppercase;
    font-weight: 700;
}
.top-time .time-date {
    font-size: 15px;
    line-height: 30px;
    color: #9ca2a8;
    text-transform: uppercase;
    font-weight: 300;
}
.top-reg a:nth-child(1) {
    font-size: 15px;
    line-height: 30px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
}
.header-top .top-reg a:nth-child(1) img {
    padding-right: 15px;
}
.header-top .top-reg a:nth-child(2) {
    font-size: 15px;
    line-height: 30px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
}
.header-bottom {
    /*display: flex;*/
}
.header-bottom {
    height: 90px;

}
.header-bottom .logo {
    float: left;
    /*padding-right: 95px;*/
}
.logo {
    padding: 15px 15px;
}
.header-bottom .menu li a {
    font-size: 15px;
    line-height: 30px;
    color: #263441;
    text-decoration: none;
    text-transform: uppercase;

}
.menu  li a .active{
    color: #589ae3;
}
.menu li {
    display: inline-block;
    padding-left: 40px;

}
.menu {
    text-align: right;
    float: left;
    /*padding: 40px 40px;*/

}
.banner {
    height: 660px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;

}
.banner-caption {
    display: block;
    text-align: center;

}
.banner-caption span {
    display: table;
    text-align: center;
}
.banner-caption span:nth-child(1) {
    font-size: 30px;
    line-height: 90px;
    color: #ffffff;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
}

.banner-caption span:nth-child(2) {
    font-size: 70px;
    line-height: 90px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
}
.banner-caption span:nth-child(3) {
    font-size: 70px;
    line-height: 90px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    /*padding: 15px 20px;*/
    background-color: #589ae3;
    margin-left: auto;
    margin-right: auto;
}
.banner-caption a {
    font-size: 17px;
    line-height:30px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    border: solid;
    padding: 15px 25px;
    text-transform: uppercase;

}
.banner-caption p {
    padding-bottom: 60px;
}
.about {
    padding: 0 65px;
    text-align: left;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 100px;
    padding-bottom: 110px;

}
.about-picture {
    width: 710px;
    border: 3px solid #f4f6f7;
    padding: 25px;

}
.about-picture img {
    width: 100%;
}
.clear::after {
    content: '';
    display: block;
    clear: both;
}
.about-info {
    display: flex;
    padding-left: 70px;
    /*position: absolute;*/
    /*display: block;*/
    /*right: 0;*/
    /*top: 0;*/
    /*width: calc(100% - 710px);*/
}
.about-info .info-content {
    display: block;
    text-align: left;
    width: 550px;
    /*vertical-align: top;*/

}
.about-info .info-certificate {
    /*display: inline-block;*/
    /*padding-left: 70px;*/

}
.about-info .ct {
    font-size: 17px;
    line-height: 70px;
    color: #263441;
}
.about-info .cti {
    font-size: 50px;
    line-height: 70px;
    color: #263441;
    font-weight: bold;
    text-transform: uppercase;
}
.about-info .content-text p {
    font-size: 17px;
    line-height: 30px;
    color: #263441;
}
.about-info .content-text p span {
    font-size: 17px;
    line-height: 30px;
    color: #263441;
    font-weight: 500;
}
.about-info .content-text li {
    font-size: 17px;
    line-height: 30px;
    color: #263441;
}
.about-info .info-certificate span {
    font-size: 15px;
    line-height: 24px;
    color: #589ae3;
}
/*.about-info .info-certificate span:nth-child(1) {*/
    /*padding-top: 30px;*/
/*}*/
.about-info .info-certificate {
    width: 315px;
    padding: 20px 20px 200px 20px;
    border: 3px solid #f4f6f7;
    margin-left: 70px;
}
.about-info .info-certificate p {
    font-size: 15px;
    line-height: 24px;
    color: #263441;
}
.our-mission {
    height: 810px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    display: block;
    text-align: left;

}
.our-mission .description {
    width: 560px;
    /*padding-left: 265px;*/
}
.description .description-title span {
    display: block;
    text-align: left;

}
.description .description-title {
    padding-bottom: 110px;
}


.dt {
    font-size: 17px;
    line-height: 70px;
    color: #ffffff;
    text-transform: uppercase;
    /*display: inline-block;*/
}
.dtt {
    font-size: 50px;
    line-height: 70px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
}
.description-text p {
    font-size: 17px;
    line-height: 30px;
    color: #ffffff;
    padding-bottom: 65px;
}
.description-list .list-item {
    border: 1px solid #dfe5e8;
}
.description-list .list-item p {
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
}
.statistics {
    height: 320px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    padding-top: 70px;
}
.statistics-item .item-list span {
    display: block;
    text-align: center;
}
.item-list {
    width: 33.3333%;
    float: left;
    padding: 0 15px;
}
.item-list span:nth-child(1) {
    font-size: 17px;
    line-height: 100px;
    color: #ffffff;
    text-transform: uppercase;
}
.item-list span:nth-child(2) {
    font-size: 50px;
    line-height: 100px;
    color: #ffffff;
    font-weight: 700;
}
.our-advant {
    padding: 0 15px;
    display: flex;
}
.our-advant .about-picture img {
    width: calc( 100% - 960px);
    /*float: left;*/
}
.our-advant .advant-info .info-list {
    /*float: left;*/
    /*width: ;*/
    display: flex;
    flex-wrap: wrap;
    /*position: relative;*/


}
.advant-info .info-list .list {
    text-align: center;
    border: 1px solid #e0e8ed;
}
.our-advant .advant-info {

}
.info-list .list img {
    display: block;
    /*position: absolute;*/
}
.info-list span {
    font-size: 17px;
    line-height: 30px;
    color: #263441;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
}
.info-list p {
    font-size: 17px;
    line-height: 36px;
    color: #263441;
    display: block;
}


.offers-invest {
    padding-bottom: 100px;
    padding-top: 100px;
    /*display: inline-block;*/
    height: 1000px;
}
.offers-invest .caption {
    padding-bottom: 120px;
}
.offers-invest .caption span {
    display: block;
    text-align: center;

}
.offers-wrapper .wrapper-list {
    width: 33.3333%;
    float: left;
    padding: 0 15px;
}
.wrapper-list {


}

.offers-invest {

}
.offers-invest .cap {
    font-size: 17px;
    line-height: 70px;
    color: #263441;
    text-transform: uppercase;
}
.offers-invest .capt {
    font-size: 36px;
    line-height: 50px;
    color: #263441;
    font-weight: 700;
    text-transform: uppercase;
}
.wrapper-list .list-description span {
    display: block;
}
.list-tarif1 span {
    font-size: 36px;
    line-height: 54px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #2173ce;
}
.list-tarif2 span {
    font-size: 36px;
    line-height: 54px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #589ae3;
}
.list-tarif3 span {
    font-size: 36px;
    line-height: 54px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #89c1ff;
    width: 385px;
}
.wrapper-list .tarif-per {
    height: 270px;
}
.list-tarif1 .tarif-per span:nth-child(1) {
    font-size: 70px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 700;
}
.list-tarif1 .tarif-per span:nth-child(2) {
    font-size: 17px;
    line-height: 30px;
    color: #ffffff;
}
.list-tarif1 .list-description span {
    font-size: 15px;
    line-height: 50px;
    color: #263441;
}
.list-tarif1 .list-button {
    font-size: 17px;
    line-height: 30px;
    color: #2173ce;
}
.list-tarif2 .tarif-per span:nth-child(1) {
    font-size: 70px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 700;
}
.list-tarif2 .tarif-per span:nth-child(2) {
    font-size: 17px;
    line-height: 30px;
    color: #ffffff;
}
.list-tarif2 .list-description span {
    font-size: 15px;
    line-height: 50px;
    color: #263441;
}
.list-tarif2 .list-button {
    font-size: 17px;
    line-height: 30px;
    color: #589ae3;
}
.list-tarif3 .tarif-per span:nth-child(1) {
    font-size: 70px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 700;
}
.list-tarif3 .tarif-per span:nth-child(2) {
    font-size: 17px;
    line-height: 30px;
    color: #ffffff;
}
.list-tarif3 .list-description span {
    font-size: 15px;
    line-height: 50px;
    color: #263441;
}
.list-tarif3 .list-button {
    font-size: 17px;
    line-height: 30px;
    color: #89c1ff;
}
.affilate-prog {
    height: 400px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
.prog-caption span:nth-child(1) {
    font-size: 17px;
    line-height: 90px;
    color: #ffffff;
    text-transform: uppercase;
}
.prog-caption span:nth-child(2) {
    font-size: 70px;
    line-height: 70px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
}
.description-info p {
    font-size: 17px;
    line-height: 30px;
    color: #ffffff;
}
.description-rates span {
    font-size: 70px;
    line-height: 30px;
    color: #61acff;
    font-weight: 700;
}


.reviews {
    height: 670px;
}
.feedback-text p {
    font-size: 17px;
    line-height: 30px;
    color: #778b9d;
}
.feedback-avatar .name {
    font-size: 17px;
    line-height: 30px;
    color: #263441;
    font-weight: 700;
    text-transform: uppercase;
}
.feedback-avatar .prof {
    font-size: 17px;
    line-height: 30px;
    color: #589ae3;
}
.news {
    height: 950px;
}
.news .news-caption span {
    display: block;
    text-align: center;
}
.wrapper-new {
    width: 33.3333%;
    float: left;
    padding: 0 15px;
}
.news-caption .nc {
    font-size: 17px;
    line-height: 70px;
    color: #263441;
    text-transform: uppercase;
}
.news-caption .nca {
    font-size: 36px;
    line-height: 50px;
    color: #263441;
    font-weight: 700;
    text-transform: uppercase;
}
.wrapper-new span {
    font-size: 15px;
    line-height: 22px;
    color: #589ae3;
}
.wrapper-new .caption {
    font-size: 17px;
    line-height: 30px;
    color: #3c3950;
    font-weight: 700;
    text-transform: uppercase;
}
.wrapper-new .text {
    font-size: 15px;
    line-height: 24px;
    color: #778b9d;
}
.payments {
    height: 160px;
}
.payments .wrapper-system {
    display: inline-block;
    padding-left: 110px;
    text-align: center;
}
footer {
    font-size: 15px;
    line-height: 33px;
    color: #589ae3;
    background-color: #263441;
}
.table {
    display: table;
}
.footer-left {
    width: 37%;
    display: table-cell;
}
.footer-left .left-text span {
    font-size: 15px;
    line-height: 33px;
    color: #589ae3;
    font-weight: 500;
    text-transform: uppercase;
}
.footer-left .left-text p {
    font-size: 15px;
    line-height: 33px;
    color: #ffffff;
}
.footer-right {
    width: 37%;
    display: table-cell;
}
.footer-right .right-certificate span {
    font-size: 15px;
    line-height: 33px;
    color: #589ae3;
    font-weight: 500;
    text-transform: uppercase;
}
.footer-right .right-certificate p {
    font-size: 15px;
    line-height: 33px;
    color: #ffffff;
}
.list-info .info-phone {
    font-size: 15px;
    line-height: 33px;
    color: #589ae3;
    font-weight: 500;
    text-transform: uppercase;
}
.list-info a {
    font-size: 15px;
    line-height: 33px;
    color: #ffffff;
    font-weight: 500;
}
.list-info .info-only {
    font-size: 15px;
    line-height: 33px;
    color: #589ae3;
}
.info-mail .mail {
    font-size: 15px;
    line-height: 33px;
    color: #589ae3;
    font-weight: 500;
    text-transform: uppercase;
}
.info-mail a {
    font-size: 15px;
    line-height: 33px;
    color: #ffffff;
    text-decoration: none;
}
/*контакты*/
.contacts-banner span {
    font-size: 70px;
    line-height: 90px;
    color: #ffffff;
}
.contacts-info .info-item span {
    font-size: 17px;
    line-height: 30px;
    color: #263441;
    font-weight: 700;
}
.contacts-info .info-item p {
     font-size: 17px;
     line-height: 36px;
     color: #263441;
 }
.contacts-info .info-item a {
    font-size: 17px;
    line-height: 36px;
    color: #589ae3;
}
.contacts-map {}
.contacts-form .form-caption span:nth-child(1) {
    font-size: 17px;
    line-height: 70px;
    color: #263441;
    text-transform: uppercase;
}
.contacts-form .form-caption span:nth-child(2) {
    font-size: 36px;
    line-height: 50px;
    color: #263441;
    font-weight: 700;
    text-transform: uppercase;
}
.contacts-form .form-block-item label {
    font-size: 15px;
    line-height: 100px;
    color: #263441;
    font-weight: 500;
}
.form-button button {
    font-size: 17px;
    line-height: 30px;
    color: #589ae3;
    font-weight: 700;
    text-transform: uppercase;
}