* {
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    font-family: "Gotham Pro";
}
.body-wrap {
    overflow: hidden;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.header-top .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-top .top-time{
    margin-right: 75px;

}
.container .in icon[class="icon"] {
    display: block;
    position: absolute;
}
.header-top .in a:nth-child(1) img {
    padding-right: 33px;
    display: inline-block;
    vertical-align: middle;
}
.header-top .in a:nth-child(2) {
    font-size: 14px;
    color: #66aaf5;
}
.header-top .top-mail a:nth-child(2) img {
    padding-right: 20px;
    display: inline-block;
    vertical-align: middle;
}
.header-top {
    background-color: #263441;
    padding: 10px 0px;
}
.header-top .top-mail {
    font-size: 14px;
    color: #66aaf5;
    text-decoration: none;
    font-weight: 300;
    margin-right: 50px;
}
.header-top .top-mail a{
    display: inline-block;
    vertical-align: middle;
    line-height: 18px;
}
.top-time .time-title {
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    line-height: 30px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 300;
}
.top-time .time-title img {
    display: inline-block;
    vertical-align: middle;
    padding-right: 15px;
}
.top-time .time-hour {
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    line-height: 30px;
    color: #66aaf5;
    text-transform: uppercase;
    font-weight: 700;
}
.top-time .time-date {
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    line-height: 30px;
    color: #9ca2a8;
    text-transform: uppercase;
    font-weight: 300;
}
.top-reg a:nth-child(1) {
    font-size: 15px;
    line-height: 30px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    display: inline-block;
    vertical-align: middle;
}
.header-top .top-reg a:nth-child(1) img {
    padding-right: 15px;
    display: inline-block;
    vertical-align: middle;
}
.header-top .top-reg a:nth-child(2) {
    font-size: 15px;
    line-height: 30px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
}
.header-bottom {
    /*display: flex;*/
}
.header-bottom {
    height: 90px;
}
.header-bottom .logo {
    float: left;
}
.logo {
    padding: 15px 0px;
}
.header-bottom .menu li a {
    display: block;
    padding: 30px 0px;
    font-size: 15px;
    line-height: 30px;
    color: #263441;
    text-decoration: none;
    text-transform: uppercase;
}
.header-bottom .menu li a.active,
.header-bottom .menu li a:hover{
    -webkit-box-shadow: inset 0px -3px 0px 0px #589ae3;
    -moz-box-shadow: inset 0px -3px 0px 0px #589ae3;
    box-shadow: inset 0px -3px 0px 0px #589ae3;
    color: #589ae3;
}
.menu  li a .active{
    color: #589ae3;
}
.menu li {
    display: inline-block;
    padding-left: 40px;
    height: 100%;
}
.menu {
    float: right;
    height: 100%;
}
.banner {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    padding-top: 190px;
    padding-bottom: 165px;

}
.banner-caption {
    display: block;
    text-align: center;

}
.banner-caption span {
    display: table;
    text-align: center;
}
.banner-caption span:nth-child(1) {
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 1px;
    color: #ffffff;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
}

.banner-caption span:nth-child(2) {
    font-size: 70px;
    line-height: 74px;
    letter-spacing: 1.6px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 20px;
}
.banner-caption span:nth-child(3) {
    display: inline-block;
    padding: 8px 35px;
    font-size: 70px;
    line-height: 74px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    /*padding: 15px 20px;*/
    background-color: #589ae3;
    margin: 0 auto;
    margin-top: 13px;
}
.banner-caption a {
    font-size: 17px;
    line-height: 21px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    border: 3px solid #fff;
    padding: 12px 25px;
    text-transform: uppercase;

}
.banner-caption p {
    padding-bottom: 55px;
}
.about {
    padding: 0 135px;
    text-align: left;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 105px;
    padding-bottom: 105px;

}
.about-picture {
    width: 715px;
    border: 3px solid #f4f6f7;
    padding: 25px;

}
.about-picture img {
    width: 100%;
}
.clear::after {
    content: '';
    display: block;
    clear: both;
}
.about-info {
    display: flex;
    padding-left: 75px;
}
.about-info .info-content {
    display: block;
    text-align: left;
    width: 570px;
    /*vertical-align: top;*/

}
.about-info .info-certificate {
    /*display: inline-block;*/
    /*padding-left: 70px;*/

}
.about-info .ct {
    display: block;
    font-size: 17px;
    line-height: 21px;
    color: #263441;
}
.about-info .cti {
    display: block;
    position: relative;
    margin-top: 12px;
    padding-bottom: 45px;
    font-size: 50px;
    line-height: 54px;
    color: #263441;
    font-weight: bold;
    text-transform: uppercase;
}
.about-info .cti:before{
    content: '';
    display: block;
    width: 55px;
    height: 4px;
    background-color: #0069b4;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.about-info .content-text{
    margin-top: 45px;
}
.about-info .content-text ul{
    margin-top: 30px;
}
.about-info .content-text p {
    font-size: 17px;
    line-height: 30px;
    color: #263441;
}
.about-info .content-text ul + p{
    margin-top: 30px;
}
.about-info .content-text p span {
    font-size: 17px;
    line-height: 30px;
    color: #263441;
    font-weight: 500;
}
.about-info .content-text li {
    font-size: 17px;
    line-height: 30px;
    color: #263441;
    padding-left: 23px;
    position: relative;
}
.about-info .content-text li:before{
    content: '';
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #589ae3;
    top: 50%;
    margin-top: -3px;
    left: 0px;
}
.about-info .info-certificate span {
    font-size: 15px;
    line-height: 24px;
    color: #589ae3;
    display: block;
    text-transform: uppercase;
}
/*.about-info .info-certificate span:nth-child(1) {*/
    /*padding-top: 30px;*/
/*}*/
.about-info .info-certificate {
    width: 315px;
    padding: 25px 25px 25px 25px;
    border: 3px solid #f4f6f7;
    margin-left: 70px;
}
.about-info .info-certificate div{
    padding-left: 10px;
}
.about-info .info-certificate div:nth-of-type(1) {
    margin-top: 25px;
}
.about-info .info-certificate div:nth-of-type(2) {
    margin-top: 20px;
}
.about-info .info-certificate p {
    font-size: 15px;
    line-height: 24px;
    color: #263441;
}
.ourmission-wrapper{
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center bottom;
    padding-top: 100px;
}
.our-mission {
    display: block;
    text-align: left;

}
.our-mission .description {
    width: 560px;
    /*padding-left: 265px;*/
}
.description .description-title span {
    display: block;
    text-align: left;

}
.description .description-title {
    padding-bottom: 45px;
}


.dt {
    font-size: 17px;
    line-height: 21px;
    color: #ffffff;
    text-transform: uppercase;
    /*display: inline-block;*/
}
.dtt {
    font-size: 50px;
    line-height: 54px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 15px;
    position: relative;
    padding-bottom: 53px;
}
.dtt:before{
    content: '';
    display: block;
    width: 55px;
    height: 6px;
    background-color: #0069b4;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.description-text p {
    font-size: 17px;
    line-height: 30px;
    color: #ffffff;
    padding-bottom: 30px;
}
.description-list .list-item {
    border: 1px solid #dfe5e8;
    padding: 15px 15px 15px 95px;
    position: relative;
}
.description-list .list-item:before {
    content: '';
    display: block;
    width: 56px;
    height: 56px;
    background-color: #0069b4;
    color: #fff;
    font-size: 20px;
    line-height: 56px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 50%;
    margin-top: -28px;
    left: 10px;
}
.description-list .list-item:nth-of-type(1):before{
    content: '1';
}
.description-list .list-item:nth-of-type(2):before{
    content: '2';
}
.description-list .list-item:nth-of-type(3):before{
    content: '3';
}
.description-list .list-item p {
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
}
.statistics {
    margin-top: 100px;
    padding-top: 110px;
    padding-bottom: 90px;
    background-color: rgba(0, 0, 0, 0.5);
}
.statistics-item {
    margin: 0 -15px;
}
.statistics-item .item-list span {
    display: block;
    text-align: center;
}
.item-list {
    width: 33.3333%;
    float: left;
    padding: 0 15px;
    text-align: center;
}
.item-list span:nth-child(1) {
    display: inline-block;
    padding-bottom: 25px;
    position: relative;
    font-size: 17px;
    line-height: 21px;
    color: #ffffff;
    text-transform: uppercase;
}
.item-list span:nth-child(1):before{
    content: '';
    display: block;
    width: 55px;
    height: 6px;
    background-color: #0069b4;
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -27px;
}
.item-list span:nth-child(2) {
    display: block;
    margin-top: 25px;
    font-size: 50px;
    line-height: 54px;
    color: #ffffff;
    font-weight: 700;
}
.our-advant {
    display: flex;
}
.our-advant .advant-picture {
    width: calc(100% - 960px);
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 655px;
}
.our-advant .advant-info {
    width: 960px;
}
.our-advant .advant-info .info-list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    height: 100%;
    background-color: #f4f6f7;
}
.advant-info .info-list .list {
    width: 50%;
    text-align: center;
    border: 1px solid #e0e8ed;
    padding-top: 60px;
    padding-left: 120px;
    padding-right: 120px;
}
.info-list .list img {
    display: block;
    margin: 0 auto;
    padding-bottom: 45px;
}
.info-list span {
    font-size: 17px;
    line-height: 30px;
    color: #263441;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
}
.info-list p {
    font-size: 17px;
    line-height: 36px;
    color: #263441;
    display: block;
}


.offers-invest {
    padding-bottom: 100px;
    padding-top: 100px;
    /*display: inline-block;*/
    height: 1000px;
}
.offers-invest .caption {
    padding-bottom: 120px;
}
.offers-invest .caption span {
    display: block;
    text-align: center;

}
.offers-wrapper .wrapper-list {
    width: 33.3333%;
    float: left;
    padding: 0 15px;
}
.wrapper-list {


}

.offers-invest {

}
.offers-invest .cap {
    font-size: 17px;
    line-height: 70px;
    color: #263441;
    text-transform: uppercase;
}
.offers-invest .capt {
    font-size: 36px;
    line-height: 50px;
    color: #263441;
    font-weight: 700;
    text-transform: uppercase;
}
.wrapper-list .list-description span {
    display: block;
}
.list-tarif1 span {
    font-size: 36px;
    line-height: 54px;
    color: #ffffff;
    text-transform: uppercase;

}
.list-tarif1 {
    background-color: #2173ce;
}
.list-tarif2 span {
    font-size: 36px;
    line-height: 54px;
    color: #ffffff;
    text-transform: uppercase;
}
.list-tarif2 {
    background-color: #589ae3;
}
.list-tarif3 span {
    font-size: 36px;
    line-height: 54px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #89c1ff;
    width: 385px;
}
.wrapper-list .tarif-per {
    /*height: 270px;*/
}
.list-tarif1 .tarif-per span:nth-child(1) {
    font-size: 70px;
    line-height: 70px;
    color: #ffffff;
    font-weight: 700;
}
.list-tarif1 .tarif-per span:nth-child(2) {
    font-size: 17px;
    line-height: 30px;
    color: #ffffff;
}
.list-tarif1 .list-description span {
    font-size: 15px;
    line-height: 50px;
    color: #263441;
}
.list-tarif1 .list-button {
    font-size: 17px;
    line-height: 30px;
    color: #2173ce;
}
.list-tarif2 {
    background-color: #;
}
.list-tarif2 .tarif-per span:nth-child(1) {
    font-size: 70px;
    /*line-height: 30px;*/
    color: #ffffff;
    font-weight: 700;
}
.list-tarif2 .tarif-per span:nth-child(2) {
    font-size: 17px;
    line-height: 30px;
    color: #ffffff;
}
.list-tarif2 .list-description span {
    font-size: 15px;
    line-height: 50px;
    color: #263441;
}
.list-tarif2 .list-button {
    font-size: 17px;
    line-height: 30px;
    color: #589ae3;
}
.list-tarif3 .tarif-per span:nth-child(1) {
    font-size: 70px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 700;
}
.list-tarif3 .tarif-per span:nth-child(2) {
    font-size: 17px;
    line-height: 30px;
    color: #ffffff;
}
.list-tarif3 .list-description span {
    font-size: 15px;
    line-height: 50px;
    color: #263441;
}
.list-tarif3 .list-button {
    font-size: 17px;
    line-height: 30px;
    color: #89c1ff;
}
.affilate-prog {
    height: 400px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
.prog-caption span:nth-child(1) {
    font-size: 17px;
    line-height: 90px;
    color: #ffffff;
    text-transform: uppercase;
}
.prog-caption span:nth-child(2) {
    font-size: 70px;
    line-height: 70px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
}
.description-info p {
    font-size: 17px;
    line-height: 30px;
    color: #ffffff;
}
.description-rates span {
    font-size: 70px;
    line-height: 30px;
    color: #61acff;
    font-weight: 700;
}


.reviews {
    height: 670px;
}
.feedback-text p {
    font-size: 17px;
    line-height: 30px;
    color: #778b9d;
}
.feedback-avatar .name {
    font-size: 17px;
    line-height: 30px;
    color: #263441;
    font-weight: 700;
    text-transform: uppercase;
}
.feedback-avatar .prof {
    font-size: 17px;
    line-height: 30px;
    color: #589ae3;
}
.news {
    height: 950px;
}
.news .news-caption span {
    display: block;
    text-align: center;
}
.wrapper-new {
    width: 33.3333%;
    float: left;
    padding: 0 15px;
}
.news-caption .nc {
    font-size: 17px;
    line-height: 70px;
    color: #263441;
    text-transform: uppercase;
}
.news-caption .nca {
    font-size: 36px;
    line-height: 50px;
    color: #263441;
    font-weight: 700;
    text-transform: uppercase;
}
.wrapper-new span {
    font-size: 15px;
    line-height: 22px;
    color: #589ae3;
}
.wrapper-new .caption {
    font-size: 17px;
    line-height: 30px;
    color: #3c3950;
    font-weight: 700;
    text-transform: uppercase;
}
.wrapper-new .text {
    font-size: 15px;
    line-height: 24px;
    color: #778b9d;
}
.payments {
    height: 160px;
}
.payments .wrapper-system {
    display: inline-block;
    padding-left: 110px;
    text-align: center;
}
footer {
    font-size: 15px;
    line-height: 33px;
    color: #589ae3;
    background-color: #263441;
}
.table {
    display: table;
}
.footer-left {
    width: 37%;
    display: table-cell;
}
.footer-left .left-text span {
    font-size: 15px;
    line-height: 33px;
    color: #589ae3;
    font-weight: 500;
    text-transform: uppercase;
}
.footer-left .left-text p {
    font-size: 15px;
    line-height: 33px;
    color: #ffffff;
}
.footer-right {
    width: 37%;
    display: table-cell;
}
.footer-right .right-certificate span {
    font-size: 15px;
    line-height: 33px;
    color: #589ae3;
    font-weight: 500;
    text-transform: uppercase;
}
.footer-right .right-certificate p {
    font-size: 15px;
    line-height: 33px;
    color: #ffffff;
}
.list-info .info-phone {
    font-size: 15px;
    line-height: 33px;
    color: #589ae3;
    font-weight: 500;
    text-transform: uppercase;
}
.list-info a {
    font-size: 15px;
    line-height: 33px;
    color: #ffffff;
    font-weight: 500;
}
.list-info .info-only {
    font-size: 15px;
    line-height: 33px;
    color: #589ae3;
}
.info-mail .mail {
    font-size: 15px;
    line-height: 33px;
    color: #589ae3;
    font-weight: 500;
    text-transform: uppercase;
}
.info-mail a {
    font-size: 15px;
    line-height: 33px;
    color: #ffffff;
    text-decoration: none;
}
/*контакты*/
.contacts-banner span {
    font-size: 70px;
    line-height: 90px;
    color: #ffffff;
}
.contacts-info .info-item span {
    font-size: 17px;
    line-height: 30px;
    color: #263441;
    font-weight: 700;
}
.contacts-info .info-item p {
     font-size: 17px;
     line-height: 36px;
     color: #263441;
 }
.contacts-info .info-item a {
    font-size: 17px;
    line-height: 36px;
    color: #589ae3;
}
.contacts-map {
    position: relative;
    height: 535px;
}
.contacts-map iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}
.contacts-form .form-caption span:nth-child(1) {
    font-size: 17px;
    line-height: 70px;
    color: #263441;
    text-transform: uppercase;
}
.contacts-form .form-caption span:nth-child(2) {
    font-size: 36px;
    line-height: 50px;
    color: #263441;
    font-weight: 700;
    text-transform: uppercase;
}
.contacts-form .form-block-item label {
    font-size: 15px;
    line-height: 100px;
    color: #263441;
    font-weight: 500;
}
.form-button button {
    font-size: 17px;
    line-height: 30px;
    color: #589ae3;
    font-weight: 700;
    text-transform: uppercase;
}